<nav class="nav container mx-auto bg-dark flex">
    <a routerLink="/routePath" class="nav-link text-white text-bold ms-auto">Home</a>
    <a routerLink="/routePath" class="nav-link text-white text-bold">Create Account</a>
    <a routerLink="/templatedrivenform" class="nav-link text-white text-bold">Template Driven Form</a>
    <a routerLink="/reactiveform" class="nav-link text-white text-bold">Reactive Form</a>
    <a routerLink="/behaviour_sign_up" class="nav-link text-white text-bold">Behaviour Subject Sign Up</a>
    <a routerLink="/behaviour_subject" class="nav-link text-white text-bold me-auto">Behaviour Subject</a>
</nav>
<router-outlet></router-outlet>