<p>Text Formatting</p>
<p>{{'agriculture'|uppercase}}</p>
<p>{{'agriculture'|lowercase}}</p>
<p>{{'agriculture'|slice:3}}</p>
<p>{{'agriculture'|slice:3:7}}</p>
<p>{{'information'|slice:0:2}}</p>
<p>{{'information'|slice:0:6}}</p>
<p>{{'information'|slice:2:6}}</p>
<p>{{'information'|slice:6:8}}</p>
<p>{{'information'|slice:2}}</p>
<p>{{'information'|slice:-2}}</p>
<p>{{'information'|slice:0:4}}</p>
<p>{{'information'|slice:3:5}}</p>
<p>{{'information'|slice:-3}}</p>
<p>{{'information'|slice:2:8}}</p>
<p>{{2/4|percent}}</p>



<h4>Date Formatting</h4>
<p>{{date_time|date}}</p>
<p>{{date_time|date:'short'}}</p>
<p>{{date_time|date:'medium'}}</p>
<p>{{date_time|date:'long'}}</p>
<p>{{date_time|date:'full'}}</p>
<p>{{date_time|date:'shortTime'}}</p>
<p>{{date_time|date:'mediumTime'}}</p>
<p>{{date_time|date:'longTime'}}</p>
<p>{{date_time|date:'fullTime'}}</p>
<p>{{date_time|date:'shortDate'}}</p>
<p>{{date_time|date:'mediumDate'}}</p>
<p>{{date_time|date:'longDate'}}</p>
<p>{{date_time|date:'fullDate'}}</p>
<p>{{date_time|date:'d/M/Y'}}</p>
<p>{{date_time|date:'d/Y/M'}}</p>

<h4>Currency Formatting</h4>
<p>{{1000|currency}}</p>
<p>{{1000|currency:'EUR'}}</p>
<p>{{1000|currency:'NGN': 'symbol-narrow'}}</p>
<p>{{1000|currency:'GBP'}}</p>
<p>{{1000|currency:'CAD'}}</p>
<p>{{1000|currency:'GHC'}}</p>
<p>{{1000|currency:'CNY'}}</p>